@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #C0C2C9;
  --accent-color-1: #FAB131;
  --accent-color-2: #7CB6B7;
  --font-main: 'Ubuntu', sans-serif;
}

* {
  font-family: var(--font-main)
}

App {
  text-align: center;
}

.form-holder {
  text-align: center;
  margin: auto;
  padding: 5rem;
  max-width: 500px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}